*:focus {
  border: none;
  outline:none;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
    margin: 30px;
    padding-bottom: 10px;
    border: 2px solid black;
  }
  
  textarea{
    background: transparent;
    border: none;
    resize: none;
    color: #000000;
    border-left: 1px solid black;
    padding: 10px;
    
  }
  
  .jumbotron {
    text-align: center;
    background-color: transparent;
    color: black;
    border-radius: 0;
    border-bottom: 10px solid black;
  }
  
  .description{
    white-space: pre-wrap;
  }
  
  .time-block{
    text-align: center;
    border-radius: 15px;
  }
  
  .row {
    white-space: pre-wrap;
    height: 90px;
    
    }
  
  .hour {
    background-color: #ffffff;
    color: #000000;
    border-top: 1px dashed #000000;
  }

  .time-col{
      justify-content: flex-end;
      padding: 5px 5px 0 0 ;
      border-top: 2px solid gray;
      border-right: 2px solid gray;
      border-radius: 0;      
  }
  .text-col{
      padding:0;
      border-top: 2px solid gray;       
      
  }

  .text-box {
      border: none;
      border-radius: 0;
  }
  .btn-col{
      background-color: #18b1cb;
      border-top-right-radius: 15px;
      border-bottom-right-radius: 15px;
      border-top: 1px solid gray;
      border-bottom: 1px solid gray;      
      border-right: 1px solid #18b1cb;
      border-left: 2px solid #18b1cb;
      
  }
  .oi {
    color: white;
  }
  .oi:active {
    color: black;     
  }

  .save-btn:focus
   {
    border-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
}
   /* ---time schedule alerts */

  .past-time,
  .past-time:focus {
    background-color: #cbcbcb;
  }
  .current-time,
  .current-time:focus{
    background-color: #ea4e56;
  }

  .upcoming-time,
  .upcoming-time:focus{
    background-color:#70e26f;
  }

  
